page-list {
    #route-list {
        height: 88%;
    }
    #bus-list {
        height: 30%;
    }
    .search-bar {
        margin-bottom: 5px;
    }
    .bus-name {
        align-items: center;
        text-align: center;
    }

    ion-searchbar{        
        .searchbar-input-container{            
            .searchbar-input{
                border-radius: 20px;
            }
        }
    }

    ion-list{      
        .item-block{
            border-radius: 20px;
            height: 90%;
        }
    }  
         


}
