<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="dark">
    <ion-list>
      <button menuClose ion-item (click)="openHomePage()">
          <ion-icon name="home" item-start></ion-icon>
          Home
      </button>
      <!-- <ion-item-group> -->
        <ion-item >      Locate</ion-item>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon [name]="p.icon" item-start></ion-icon>
            {{p.title}}
          </button>
      <!-- </ion-item-group> -->
      <ion-item >Driver</ion-item>

      <button *ngIf="stopped && active" menuClose ion-item  (click)="start()">
          <ion-icon name="play" item-start></ion-icon>Start
      </button>
      <button *ngIf="started && active" menuClose ion-item  (click)="stop()">
          <ion-icon name="pause" item-start></ion-icon>Stop
      </button>

      <button *ngIf="not_active" menuClose ion-item text-center (click)="openSignInPage()">
        Log In
      </button>
      <button *ngIf="active" menuClose ion-item text-center (click)="logOut()">
          Log Out
        </button>
      <ion-item text-center></ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>